* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
 

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: skyblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  background-color: #fff;
  min-width: 922px;
  margin: auto;
}

nav {
  display: flex;
  border-bottom: 1px solid gray;
  background-color: black;
  padding: 10px 20px;
}

.nav-menu li {
  display: inline-block;
  list-style: none;
}

.nav-menu__link {
  display: inline-block;
  margin: 5px;
  border: 1px solid gray;
  text-decoration: none;
  border-radius: 5px;
  padding: 3px 8px;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}

.nav-menu__link.active {
  background-color: royalblue;
  color: whitesmoke;
}

.nav-menu__link:hover {
  border: 1px solid black;
  background-color: rgb(228, 228, 228);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.logo-link {
  color: #fff;
  text-decoration: none;
}

.main-content {
  width: 90%;
  margin: auto;
  padding-bottom: 50px;
}

.main-content h2 {
  text-align: center;
  margin-bottom: 20px;
}


.button {
  display: flex;
  justify-content: space-between;
  margin: 20px;

}

.home-thumbnail-1:hover,
.home-thumbnail-2:hover,
.home-thumbnail-3:hover {
  cursor:pointer;
  transform: scale(1.05);
  transition: all 0.3s ease-in-out;
}

.home-thumbnail-1,
.home-thumbnail-2,
.home-thumbnail-3 {
  background-size: cover;
  width: 200px;
  height: 100px;
  transition: all 0.3s ease-in-out;
  
}

