  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }


  body {
    font-family: 'Open Sans', sans-serif;
  }


  .App {
    background-color: #fff;
    min-width: 922px;
    margin: auto;
  }

  nav {
    display: flex;
    border-bottom: 1px solid gray;
    background: #333;
    padding: 10px 20px;
  }

  .nav-menu li {
    display: inline-block;
    list-style: none;
  }

  .nav-menu__link {
    display: inline-block;
    margin: 5px;
    border: 1px solid gray;
    text-decoration: none;
    border-radius: 5px;
    padding: 3px 8px;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
  }

  .nav-menu__link.active {
    background-color: royalblue;
    color: whitesmoke;
  }

  .nav-menu__link:hover {
    cursor: pointer;
  }

  .logo-link {
    color: #fff;
    text-decoration: none;
  }

  .button {
    display: flex;
    justify-content: space-between;
    margin: 20px;
  }

  .table-responsive {
    min-height: .01%;
    overflow-x: auto;
  }

  .list {
    margin-left: 20px;
  }

  @media screen and (max-width: 620px) {
    .table-responsive {
      width: 100%;
      margin-bottom: 15px;
    }
  }
